 /* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    text-align: center;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Estilos del header */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: rgb(0, 0, 0);
    position: relative;
  }
  
  .logo {
    width: 350px;
    height: auto;
  }
  
  .title {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin: 0;
    flex: 1;
    margin-left: -250px;
  }
  
  .cancelButton {
    position: absolute;
    top: 60px;
    right: 30px;
    background-color: transparent;
    border: none;
    color: #8A0046; /* Color vino */
    font-size: 1.4em;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .cancelButton i {
    margin-right: 8px;
    font-size: 1.5em;
  }
  
  .cancelButton:hover {
    color: #600030; /* Color vino oscuro */
  }
  
  /* Estilos del formulario */
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
    max-width: 800px; /* Ajusta el ancho máximo según sea necesario */
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1.2em;
    color: #8A0046; /* Color vino */
  }
  
  .formGroup input,
  .formGroup select,
  .formGroup textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #8A0046; /* Contorno color vino */
    border-radius: 10px;
    font-size: 1.2em;
    color: #8A0046; /* Color vino */
    font-weight: 600;
  }
  
  .formGroup input::placeholder,
  .formGroup select::placeholder {
    color: #8A0046; /* Color vino */
  }
  
  .formGroup textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .submitButton {
    padding: 15px 30px;
    border: 2px solid #8A0046;
    border-radius: 10px;
    background-color: transparent;
    color: #8A0046; /* Color vino */
    font-weight: 600;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .submitButton:hover {
    background-color: #8A0046; /* Color vino */
    color: white;
  }
  
  /* Estilos del footer */
  .footer {
    position: relative;
    margin-top: auto;
  }
  
  .footerDecoration {
    width: 23%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  