@import '~@fortawesome/fontawesome-free/css/all.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.logo {
  width: 350px;
  height: auto;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 60px; /* Ajusta este valor según sea necesario */
}

.content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
}

.left-side {
  flex: 2;
  text-align: left;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0; /* Ajusta este valor para bajar el texto de la izquierda */
  margin-bottom: 40px; /* Ajusta este valor para asegurar espacio para el cuadro de la derecha */
}

.left-side h1 {
  font-size: 3em;
  font-weight: 690;
  margin-bottom: 20px;
}

.left-side p {
  font-weight: 690;
  color: #7d7b7b;
  font-size: 1.2em;
}

.right-side {
  flex: 2;
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 490px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  position: relative;
  top: -20px; /* Ajusta este valor para subir el cuadro de la derecha */
}

.right-side h2 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  background-color: #f0f0f0;
  color: #333;
}

.form-group input::placeholder {
  color: #666;
  font-weight: 600;
}

.login-button {
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  background-color: #8A0046;
  font-weight: 620;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  margin: 20px 0;
}

.login-button:hover {
  background-color: #600030;
}

.footer-decoration {
  width: 23%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
}
